  /* Additional Styles */
        *{
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        }

        html{
        scroll-behavior: smooth;
        }
        body{
        background-color:black;
        color: #ffffff;
        }
        #header{
        width: 100%;
        height: 11vh;
        background-attachment: fixed;
        backdrop-filter: blur(25px);
        }
        .navbar-brand {
            font-size: 28px;
            font-family: 'Courier New', Courier, monospace;
        }

        .navbar-brand span {
            color: #317773;
            font-weight:lighter;
            font-size: 20px;
        }
        nav ul li a
        {
            color: white;
            text-decoration: none;
            font-size: 18px;
            position: relative;
        }
    
            nav ul li a::after{
            content: "";
            width: 0;
            height: 3px;
            background-color: #317773;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
        }
    
            nav ul li a:hover::after{
            width: 100%;
        }
        .download-btn {
            display: inline-block;
            padding: 10px 15px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            background-color: #317773;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            font-weight: bold;
        }

        .download-btn:hover {
            background-color: #E2D1F9;
            color: black;
        }

        .header-text {
            text-align: center;
            margin-top: 20px;
        }

        .header-text h1 {
            font-size: 54px;
        }
        .circular-image-container {
            position: relative;
            width: 400px;
            height: 400px;
            overflow: hidden;
            border-radius: 50%;
            margin-top: 50px;
        }

        .circular-image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            background-color: #317773 ;
        }
        .gradient-border {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-sizing: border-box;
            border: 8px solid transparent;
            background-clip: padding-box, border-box;
        }

        .circular-image-container:hover .gradient-border {
            border:linear-gradient(to left, #ff0004, #3333ff);
        }
        @keyframes textGradient {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
        }
          .banner_div .banner_h1 span {
            background: linear-gradient(45deg, #9555e9, #1e5754);
            background-size: 200% 100%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            animation: textGradient 1.5s ease-in-out infinite;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .social-icons a {
            font-size: 25px;
            margin: 10px;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            color: #317773;
          }
      
        .social-icons a:hover {
            color: #E2D1F9; 
            text-shadow: 0 0 10px 
          }
        .about-section {
            margin-top: 700px;
        }

        .about-image {
            width: 100%;
            max-width: 500px;
        }

        .about-heading {
            color: #317773;
        }

        .progress-wrapper {
            width: 80%;
          }
      
          .progress-bar {
            background: #317773;
          }
          

          #hobbies .hobbies-list {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
          }

          .hobby-card {
            text-align: center;
            padding: 20px;
            margin: 10px;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s, box-shadow 0.3s;
            margin-top: 50px;
          }

          .hobby-card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px #bfa5e0;
          }

          .hobby-card:active {
            box-shadow: 0 0 20px 317773;
            
          }

          .hobby-card i {
            font-size: 40px;
            margin-bottom: 15px;
            color: #bfa5e0 ;
          }

          .hobby-card h2 {
            color: #317773;
          }

          .hobby-card p {
            color: #E2D1F9;
          }
        .overlay-content {
            text-align: center;
            color: #317773;
        }
        .one-image-container {
          position: relative;
          width: 400px;
          height: 400px;
          overflow: hidden;
          margin: 10px;
          padding-right: 70px;
        }
    
        .one-image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 2px solid #317773;
          transition: transform 0.3s ease-in-out;
        }
    
        .one-image-container:hover img {
          transform: scale(1.1);
        }

          #portfolio {
            padding: 50px 0;
          }
      
          .portfolio-heading {
            font-family:'Times New Roman', Times, serif;
            font-size: 36px;
            text-align: center;
            margin-bottom: 30px;
            color: #317773 ;
        }
          .work-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
          }
      
          .work {
            width: 300px;
            margin: 20px;
            overflow: hidden;
            position: relative;
            border: 2px solid #E2D1F9;
            border-radius: 8px;
            transition: transform 0.3s;
          }
      
          .work img {
            width: 100%;
            height: auto;
            transition: transform 0.3s;
          }
      
          .work .layout {
            padding: 20px;
            background-color: black;
            color: white;
          }
      
          .work h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
          }
      
          .work p {
            font-size: 1em;
            margin-bottom: 20px;
          }
      
          .work a {
            display: block;
            color: #317773;
            text-decoration: none;
          }
      
          .work:hover {
            transform: scale(1.05);
          }
      
          .work:hover img {
            transform: scale(1.1);
          }
      
          .btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 150px;
            background-color: #317773;
          }
      
          .btn:hover {
            color: black;
            background-color: #E2D1F9;
            font-weight: bold;
            text-shadow: 0 0 10px;
          }
          #gallery {
            padding: 60px 0;
        }

        .gallery-item {
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .gallery-item img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
        }

        .gallery-item:hover img {
            transform: scale(1.1);
        }

        .view-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color:#317773;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .gallery-item:hover .view-icon {
            opacity: 1;
        }

        .modal-dialog {
            max-width: 30%;
            margin: 1.75rem auto;
        }

        .modal-content {
            width: 100%;
        }
          .contact-section {
            text-align: center;
          }
      
          .contact-heading {
            font-size: 2rem;
            color: #317773;
            margin-bottom: 30px;
          }
      
          .contact-form {
            max-width: 400px;
            margin: 0 auto;
          }
      
          .form-group {
            margin-bottom: 20px;
          }
      
          .form-control {
            border-radius: 50;
          }
          .submit-btn {
            background-color: #317773;
            color: #fff;
            border-radius: 50;
            font-weight: bold;
          }
      
          .submit-btn:hover {
            background-color: #E2D1F9;
            color: black;
          }
           footer {
            color: #fff;
            padding: 20px 0;
            width: 100%;
            bottom: 0;

          }
          .social-icons {
            font-size: 20px;
            margin: 0 10px;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            color: #317773;
          }
      
          .social-icons:hover {
            color: #E2D1F9;
            box-shadow: #E2D1F9 ;
          }

          /* Custom scroll bar */
            ::-webkit-scrollbar {
              width: 10px;
          }

          ::-webkit-scrollbar-thumb {
              background-color: #317773;
              border-radius: 5px;
          }
          body {
              transition: background-color 0.5s, color 0.5s;
          }
          
          body.light-mode {
              background-color: #f5f5f5;
              color: black;
          }
          
          header {
              color: #fff;
              padding: 10px;
              display: flex;
              justify-content: space-between;
          }
          
          #mode-toggle {
              cursor: pointer;
          }
          
          #mode-toggle:hover {
              opacity: 0.8;
          }
        



      